mixin profilesider(user)
    aside.sidebar.profilesider.hidden(role='complementary' aria-label='Chat sidebar')
            .container
                .header
                    span.back-arrow
                        i.fa-solid.fa-arrow-left
                    h2 Edit profile

                form.profile-form(
                )
                    .profile-picture
                        label(for='avatar')
                            .picture-icon
                                i.fa-solid.fa-camera
                            img.preview-avatar.hidden(src=user.avatar alt='Baor')
                        input#avatar.hidden(type='file' accept='image/*')
                    .form-group
                        label(for='full_name') Full name
                        input#full_name(type='text' value=user.full_name)
                    .form-group
                        label(for='phone') Phone 
                        input#phone(type='text' value=user.phone)
                    .form-group
                        label(for='username') Username
                        input#username(type='text' value=user.username)
                    
                .btn-bar
                    button.change-profile Thay đổi
                    a(href='') Đổi mật khẩu
                    
    aside.sidebar.settingsider.hidden(role='complementary' aria-label='Thông tin đoạn chat')
        .header
            span.back-arrow
                i.fa-solid.fa-arrow-left
            h2 Profile
            .actions
                span.edit
                    i.fa-solid.fa-pencil
                span.options
                    i.fas.fa-ellipsis-v
        .user-inner
            .user-info
                img.user-info(src=user.avatar alt='Baor')
                .info
                    span.username=user.full_name
                    span.status.online online
            .user-contact-info
                ul
                    li
                        i.fa-regular.fa-envelope
                        .contact-info
                            .contact=user.email
                            .type email
                    li
                        i.fa-solid.fa-phone
                        .contact-info
                            .contact=user.phone
                            .type phone
                    li
                        i.fa-solid.fa-at
                        .contact-info
                            .contact=user.username
                            .type username
