extends ../../layouts/auth.pug
include ../../mixins/alert.pug


block main

  +alert-success(3000)
  +alert-fail(5000)
    // Title
  .bg-white.w-full.max-w-sm.rounded-lg.shadow-lg.p-6.relative
    h2.text-center.text-2xl.font-semibold.mb-2 Log in
    p.text-center.text-sm.text-gray-500
      | Don&apos;t have an account? 
      a.text-blue-600(href='/user/register') Sign up
    // Divider
    .flex.items-center.my-6
      hr.flex-grow.border-gray-300
    form(
      action='/user/login'
      id='login-form'
      method='POST'
      class='form-login space-y-4'
    )
      div
        label.sr-only(for='email') Your email
        input#email(
          type='email'
          name='email'
          placeholder='Your email'
          class='w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500'
        )
      .relative
        label.sr-only(for='password') Your password
        input#password(
          type='password'
          name='password'
          placeholder='Your password'
          class='w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500'
        )
      // Submit button
      button.w-full.bg-cyan-700.text-white.py-2.rounded-lg.mt-6(type='submit') Log in
    
    .text-right.mt-2
      a.text-sm.text-blue-600(href='#') Forgot your password?

                  
