extends ../../layouts/auth.pug
include ../../mixins/alert.pug


block main

  +alert-success(3000)
  +alert-fail(5000)
  .container
    .row.justify-content-center
      .col-md-6
        .card.mt-5
          .card-body
            .tab-content
              #login.tab-pane.fade.show.active(role="tabpanel")
                h3.mt-5.mb-4.text-center Đăng nhập
                form(
                  action=`/user/login`
                  id="login-form"
                  method="POST"
                  class="form-login"
                )
                  .mb-3
                    label.form-label(for="email") Email
                    input.form-control#email(
                      type="email"
                      name="email"
                      required
                      autofocus
                    )
                  .mb-3
                    label.form-label(for="password") Mật khẩu
                    .input-group
                      input.form-control#password(
                        type="password"
                        name="password"
                        required
                      )
                  .mb-3
                    .form-check
                      input.form-check-input#remember-me(type="checkbox" name="remember")
                      label.form-check-label(for="remember-me") Ghi nhớ đăng nhập
                    .text-end
                      a(href="/user/password/forgot") Quên mật khẩu?
                  .d-grid.gap-2
                    button.btn.btn-primary(type="submit") Đăng nhập
                  .mt-3.text-beign Chưa có tài khoản ?  
                    a(href='/user/register') Đăng ký
                  
