extends ../../layouts/default.pug
include ../../mixins/formatTime.pug
include ../../mixins/creatGroup.pug
include ../../mixins/alert.pug


    block main

        +alert-success(3000)
        +alert-fail(5000)
        aside.sidebar.profilesider.hidden(role='complementary' aria-label='Chat sidebar')
                .container
                    .header
                        span.back-arrow
                            i.fa-solid.fa-arrow-left
                        h2 Edit profile
                    .profile-picture
                        label(for='avatar')
                            .picture-icon
                                i.fa-solid.fa-camera
                            img.preview-avatar.hidden(src=user.avatar alt='Baor')
                        input#avatar.hidden(type='file' accept='image/*')
                    form.profile-form
                        .form-group
                            label(for='first-name') Full name
                            input#first-name(type='text' value=user.full_name)
                        .form-group
                            label(for='phone') Phone 
                            input#phone(type='text' value=user.phone)
                        .form-group
                            label(for='username') Username
                            input#username(type='text' value=user.username)
                        
                    .btn-bar
                        button.change-profile Thay đổi
                        a(href='') Đổi mật khẩu
                        
        aside.sidebar.settingsider.hidden(role='complementary' aria-label='Thông tin đoạn chat')
            .header
                span.back-arrow
                    i.fa-solid.fa-arrow-left
                h2 Profile
                .actions
                    span.edit
                        i.fa-solid.fa-pencil
                    span.options
                        i.fas.fa-ellipsis-v
            .user-inner
                .user-info
                    img.user-info(src=user.avatar alt='Baor')
                    .info
                        span.username=user.full_name
                        span.status.online online
                .user-contact-info
                    ul
                        li
                            i.fa-regular.fa-envelope
                            .contact-info
                                .contact=user.email
                                .type email
                        li
                            i.fa-solid.fa-phone
                            .contact-info
                                .contact=user.phone
                                .type phone
                        li
                            i.fa-solid.fa-at
                            .contact-info
                                .contact=user.username
                                .type username
